<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.system.mapper.RolePermissionMapper">
    <select id="selectListByRoleIds" resultType="com.learning.core.domain.model.RoleModel">
        select a.role_id roleId, b.permission permissionList
        FROM sys_role_permission a
        LEFT JOIN sys_permission b
        on a.permission_id = b.id
        WHERE b.permissions_type = 2 and a.role_id in #{roleIdList}
    </select>
</mapper>